@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "CodeNext";
  src: url(../fonts/Code-Next-Book.woff) format("woff");
  font-weight: 350;
}
@font-face {
  font-family: "CodeNext";
  src: url(../fonts/Fontfabric-Code-Next-Variable-Roman.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "CodeNext";
  src: url(../fonts/Code-Next-SemiBold.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "CodeNext";
  src: url(../fonts/Code-Next-Bold.woff) format("woff");
  font-weight: 700;
}
@-webkit-keyframes image-block {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes image-block {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "CodeNext";
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  line-height: 1.3;
  background: #0b2142;
}

.container {
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;
}

.hover-overlay {
  background: rgba(12, 21, 52, 0.95);
  width: 100%;
  position: fixed;
  top: -150px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.hover-overlay-on {
  opacity: 1;
  z-index: 1;
  height: 300%;
  visibility: visible;
  transition: all 0.3s;
}

.helping-info--active {
  opacity: 0.4;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 4px;
}
.header__logo {
  margin-bottom: -88px;
  position: relative;
}
.header__logo::before {
  content: url("../img/logo-decor.png");
  position: absolute;
  top: -60px;
  left: -150px;
  z-index: -1;
}
.header__lang {
  font-size: 32px;
  line-height: 1.44;
  cursor: pointer;
  text-transform: uppercase;
}
.header .lang-en {
  color: #fff;
  font-weight: 700;
  transition: all 0.4s;
}
.header .lang-en:hover {
  color: #0078f8;
}
.header .lang-en-active {
  color: #ffdf3f;
  font-weight: 400;
}
.header .lang-ua {
  color: #fff;
  font-weight: 700;
  transition: all 0.4s;
}
.header .lang-ua:hover {
  color: #ffdf3f;
}
.header .lang-ua-active {
  color: #0078f8;
  font-weight: 400;
}

.intro {
  background-image: url(../img/intro/bg-decor.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: 0;
  position: relative;
}
.intro__inner {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.intro__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.04em;
  max-width: 790px;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 1;
}
.intro__car-hover, .intro__bike-hover {
  display: none;
}
.intro__car-box {
  max-width: 833px;
  max-height: 469px;
  height: 100%;
  cursor: pointer;
}
.intro__car-box img {
  width: 100%;
}
.intro__car-box .intro__car {
  -webkit-animation: image-block 1.5s ease;
          animation: image-block 1.5s ease;
}
.intro__car-box--active .intro__car {
  display: none;
}
.intro__car-box--active .intro__car-hover {
  z-index: 3;
  display: block;
  -webkit-animation: image-block 1.5s ease;
          animation: image-block 1.5s ease;
  position: relative;
}
.intro__car-box--active .intro__car-hover p {
  position: absolute;
  max-width: 290px;
  left: 0;
  bottom: -146px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
.intro__box {
  margin-top: -100px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 70px;
}
.intro__bike-box {
  max-width: 629px;
  max-height: 332px;
  cursor: pointer;
}
.intro__bike-box img {
  width: 100%;
}
.intro__bike-box .intro__bike {
  -webkit-animation: image-block 1.5s ease;
          animation: image-block 1.5s ease;
}
.intro__bike-box--active .intro__bike {
  display: none;
}
.intro__bike-box--active .intro__bike-hover {
  z-index: 3;
  display: block;
  -webkit-animation: image-block 1.5s ease;
          animation: image-block 1.5s ease;
  display: flex;
  position: relative;
}
.intro__bike-box--active .intro__bike-hover p {
  max-width: 290px;
  width: 100%;
  position: absolute;
  right: -322px;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.04em;
}
.intro__box {
  position: relative;
}
.intro__about {
  max-width: 450px;
  width: 100%;
  margin-left: 64px;
}
.intro__about-decor {
  background-image: url("../img/intro/text-decor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  right: -10%;
  top: 0%;
  width: 914.57px;
  height: 644px;
}
.intro__text {
  max-width: 939px;
  width: 100%;
  margin-bottom: 72px;
}
.intro__about, .intro__text {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
}
.intro__info-box .intro__info-img-mobile,
.intro__info-box .intro__info-hover,
.intro__info-box .intro__info-hover-mobile {
  display: none;
}
.intro__info-box {
  margin: 0 auto;
  max-width: 1920px;
  max-height: 583px;
  cursor: pointer;
}
.intro__info-box img {
  width: 100%;
}
.intro__info-box .intro__info-img {
  -webkit-animation: image-block 1.5s ease;
          animation: image-block 1.5s ease;
}
.intro__info-box--active .intro__info-img {
  display: none;
}
.intro__info-box--active .intro__info-hover {
  z-index: 3;
  display: block;
  -webkit-animation: image-block 1.5s ease;
          animation: image-block 1.5s ease;
  display: block;
  animation: image-block 1.5s ease;
  position: relative;
}
.intro__info-box--active .intro__info-hover p {
  position: absolute;
  max-width: 460px;
  left: 330px;
  top: -102px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.helping {
  padding-top: 60px;
  padding-bottom: 96px;
  background-image: url(../img/helping-bg.svg);
  background-color: #fff;
  background-position: left -170%;
  background-repeat: no-repeat;
  background-size: contain;
}
.helping-info {
  position: relative;
}
.helping-info__title {
  position: relative;
  max-width: 894px;
  margin-bottom: 47px;
  padding-right: 254px;
  font-family: "CodeNext";
  font-size: calc(30px + 34 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #ff004d;
}
.helping-info__title::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 186px;
  height: 262px;
  background-image: url(../img/pigeon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.helping-info__subtitle {
  font-weight: 700;
  font-size: calc(30px + 26 * ((100vw - 320px) / 1600));
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #0b1c59;
  margin-top: 80px;
}
.helping-info__about {
  max-width: 716px;
  font-weight: 600;
  font-size: calc(22px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.26;
  letter-spacing: -0.03em;
  background: linear-gradient(180deg, #ff004d 26.47%, #0b1c59 83.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.helping-info__text + .helping-info__text {
  margin-top: 40px;
}
.helping-info__text ~ .helping__subtitle {
  font-weight: 700;
}
.helping-info__row {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  justify-content: space-between;
}
.helping-info__link {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 24px;
  gap: 10px;
  font-weight: 400;
  font-size: calc(22px + 4 * ((100vw - 320px) / 1600));
  color: #0b1c59;
  background-color: #f4f8fd;
  border-radius: 100px;
  transition: all 0.5s ease-out;
  transition: background-color 0.8s ease-out;
}
.helping-info__link svg path {
  transition: all 0.5s ease-out;
  fill: #ff004d;
}
.helping-info__link:hover {
  background-color: #ff004d;
  color: #ffffff;
}
.helping-info__link:hover svg path {
  fill: #ffffff;
}
.helping-info-contacts__text {
  max-width: 260px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
  line-height: 1.26;
  letter-spacing: -0.03em;
  color: #0b1c59;
}
.helping__subtitle {
  max-width: 510px;
  margin-bottom: 48px;
}
.helping__text {
  max-width: 894px;
  margin-bottom: 64px;
  font-weight: 600;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1600));
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: #0b1c59;
}
.helping__link {
  display: flex;
  align-items: center;
  max-width: 700px;
  width: 100%;
  height: 79px;
  padding: 10px 32px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: calc(22px + 18 * ((100vw - 320px) / 1600));
  color: #0b1c59;
  background: #f4f8fd;
  border-radius: 100px;
  transition: all 0.3s ease-out;
}
.helping__link:hover {
  background: #e2eaf7;
}
.helping__link img {
  max-width: 40px;
  margin-right: 16px;
}
.helping__link a {
  color: #ff004d;
  text-decoration: underline;
}
.helping__link span {
  margin-right: 10px;
}
.helping__attention {
  max-width: 300px;
  font-weight: 700;
  font-size: calc(20px + 8 * ((100vw - 320px) / 1600));
  line-height: 1.26;
  letter-spacing: -0.03em;
  color: #ff004d;
  transform: translateY(-40px);
}

.buy-nft {
  padding: 10px 40px 40px 32px;
  background: #f4f8fd;
  border-radius: 32px;
  transition: all 0.3s ease-out;
}
.buy-nft:hover {
  background: #e2eaf7;
}
.buy-nft__heading {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  color: #0b1c59;
  font-size: calc(22px + 18 * ((100vw - 320px) / 1600));
  line-height: 1.26;
  letter-spacing: -0.03em;
}
.buy-nft__heading img {
  margin-right: 16px;
}
.buy-nft__heading span {
  margin-right: 10px;
}
.buy-nft__heading a {
  color: #ff004d;
  text-decoration: underline;
}
.buy-nft__cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

.nft-card-buy {
  max-width: 336px;
  width: 100%;
}
.nft-card-buy__img {
  margin-bottom: 16px;
}
.nft-card-buy__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 336px;
  width: 100%;
  height: 39px;
  padding: 8px 32px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.025em;
  color: #0B1C59;
  background: #ffffff;
  border-radius: 100px;
  transition: all 0.5s ease-out;
}
.nft-card-buy__buy:hover {
  background: #ff004d;
  color: #ffffff;
}

.footer__inner {
  background-color: #0b2142;
  padding: 88px 0 72px;
  background-image: url(../img/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.footer__inner::after {
  content: url(../img/footer-blur.png);
  position: absolute;
  width: 485px;
  height: 435px;
  top: 0;
  right: 55%;
  z-index: -1;
}
.footer__title {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  max-width: 730px;
  width: 100%;
  margin-bottom: 32px;
  font-size: calc(24px + 32 * ((100vw - 320px) / 1600));
}
.footer__text {
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.03em;
  max-width: 740px;
  width: 100%;
  margin-bottom: 79px;
  font-size: calc(20px + 8 * ((100vw - 320px) / 1600));
}
.footer__box {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  margin-bottom: 272px;
}
.footer__label {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
  max-width: 900px;
  width: 100%;
}
.footer__input {
  width: 435px;
  height: 62px;
  padding-left: 32px;
  padding-right: 32px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 64px;
  transition: all 0.3s;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.26;
  letter-spacing: -0.03em;
  cursor: pointer;
}
.footer__input:hover {
  background: rgba(255, 255, 255, 0.2);
}
.footer__textarea {
  padding: 21px 32px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 31px;
  width: 100%;
  height: 124px;
  resize: none;
  margin-bottom: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
.footer__textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__textarea::placeholder {
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__textarea:hover {
  background: rgba(255, 255, 255, 0.2);
}
.footer__reports p {
  line-height: 1.2;
  letter-spacing: -0.04em;
  max-width: 158px;
  width: 100%;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
}
.footer__reports img {
  margin-bottom: 12px;
}
.footer__reports a {
  padding: 3px 10px;
  color: inherit;
  letter-spacing: -0.03em;
  background-color: #0078F8;
  border-radius: 24px;
  transition: all 0.3s;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
}
.footer__reports a:hover {
  background-color: #FFDF3F;
  color: #0B1C59;
}
.footer__aditional {
  background-color: #0078F8;
  padding: 50px 0;
}
.footer__aditional-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__aditional-box p {
  max-width: 464px;
  width: 100%;
  line-height: 1.1;
  letter-spacing: -0.04em;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1600));
}
.footer__aditional-link {
  max-width: 342px;
  width: 100%;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 16px;
}
.footer .form-group-textarea {
  max-width: 894px;
  width: 100%;
}
.footer__box-btn span {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.26;
  letter-spacing: -0.03em;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
}
.footer__btn {
  padding: 18px 64px;
  background-color: #0078f8;
  border-radius: 64px;
  font-weight: 700;
  line-height: 1.26;
  color: inherit;
  letter-spacing: -0.03em;
  margin-right: 32px;
  transition: all 0.3s;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
}
.footer__btn:hover {
  background-color: #ffdf3f;
  color: #0b1c59;
}
.footer__title-contact {
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.1;
  position: relative;
  font-size: calc(36px + 12 * ((100vw - 320px) / 1600));
}
.footer__title-box {
  display: flex;
  margin-bottom: 40px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  z-index: 1;
  position: relative;
}
.footer__title-box::before {
  content: url("../img/uafamily-bg.png");
  position: absolute;
  top: -330%;
  right: 46%;
  width: 200px;
  height: 100px;
  z-index: -1;
}
.footer__socials {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 16px;
}
.footer__social-item {
  padding: 15px 32px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 100px;
  font-weight: 400;
  letter-spacing: -0.025em;
  transition: background-color 0.8s ease-out;
  z-index: 1;
  font-size: calc(18px + 14 * ((100vw - 320px) / 1600));
}
.footer__social-item a {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: inherit;
}
.footer__social-item:hover {
  background: #ff004d;
}
.footer__social-item:hover svg path {
  fill: #fff;
}
.footer__logo {
  margin-left: 10px;
}
.footer__logo img {
  height: 44px;
  margin-top: 8px;
}

.form-group {
  position: relative;
  display: inline-block;
}

.form-label {
  padding: 19px 32px;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
}

input:not(:-moz-placeholder-shown) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

input:not(:-ms-input-placeholder) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

input:focus + label,
input:not(:placeholder-shown) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

textarea:not(:-moz-placeholder-shown) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

textarea:not(:-ms-input-placeholder) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

/* For IE Browsers*/
input:focus + label,
input:not(:-ms-input-placeholder) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

textarea:focus + label,
textarea:not(:-ms-input-placeholder) + label {
  font-size: 12px;
  transform: scale(0.75) translateY(-40%) translateX(-25px);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0c1534;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  padding: 15px;
  max-width: 1440px;
  max-height: 100vh;
  color: white;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 32px;
  background: #f4f8fd;
  margin-bottom: 10px;
}

.modal__title {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background: transparent;
  background-image: url(../img/X.svg);
  background-size: contain;
  border: 0;
  cursor: pointer;
}

.modal__qrcode {
  max-width: 100%;
}
.modal__qrcode img {
  max-width: 100%;
}

.modal__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  font-weight: 400;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  word-break: break-all;
  color: #0b1c59;
  border-radius: 32px;
  background: #f4f8fd;
}
.modal__copy button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin-right: 16px;
  background: transparent;
}

/**************************\
 Demo Animation Style
\**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

@media (max-width: 1980px) {
  .intro__about-decor {
    height: 598px;
  }
}
@media (max-width: 1850px) {
  .helping {
    background-position: left -50%;
  }
}
@media (max-width: 1440px) {
  .intro__about-decor {
    right: -2%;
    top: -2%;
    width: 700px;
  }
  .helping-info__title::after {
    width: 150px;
    right: 5%;
    top: -30%;
  }
  .helping-info__text + .helping-info__text {
    margin-top: 20px;
  }
  .helping__subtitle {
    margin-bottom: 30px;
  }
  .helping__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 1300px) {
  .helping {
    background-position: left -30%;
  }
}
@media (max-width: 1280px) {
  .helping-info__title {
    padding-right: 200px;
  }
  .helping-info__title::after {
    width: 150px;
    right: 7%;
  }
  .buy-nft {
    padding: 10px 16px 24px;
  }
  .buy-nft__cards {
    gap: 28px 16px;
  }
  .nft-card-buy {
    max-width: 295px;
  }
  .nft-card-buy__img {
    max-width: 295px;
    max-height: 295px;
    margin-bottom: 8px;
  }
  .nft-card-buy__img img {
    width: 100%;
  }
  .nft-card-buy__buy {
    max-height: 34px;
    padding: 8px 24px;
  }
}
@media (max-width: 1200px) {
  .helping {
    background-position: left -20%;
  }
  .footer__logo img {
    margin-top: 4px;
  }
  .footer__box {
    flex-direction: column;
  }
  .footer__reports {
    margin-top: 40px;
    display: flex;
  }
  .footer__reports img {
    margin-right: 12px;
  }
  .footer__reports p {
    max-width: 240px;
    width: 100%;
  }
  .footer__aditional-box {
    display: block;
  }
  .footer__aditional-box p {
    max-width: 846px;
    margin-bottom: 24px;
  }
  .footer__aditional-link {
    display: inline-block;
    text-align: center;
    padding-top: 38px;
  }
}
@media (max-width: 1100px) {
  .intro__title {
    font-size: 40px;
    max-width: 650px;
  }
  .intro__car-box img {
    max-height: 300px;
  }
  .intro__box {
    margin-top: 22px;
    margin-bottom: 50px;
  }
  .intro .intro__bike-hover p {
    max-width: 250px;
    right: -300px;
    font-size: 28px;
  }
  .intro__bike-box img {
    max-height: 260px;
  }
  .intro__text {
    margin-bottom: 50px;
  }
  .intro__about-decor {
    height: 500px;
    top: -10%;
  }
  .intro .intro__info-hover p {
    font-size: 28px;
    left: 24px;
    top: -80px;
  }
}
@media (max-width: 1030px) {
  .helping {
    background-position: left 0%;
  }
  .helping-info__title::after {
    height: 200px;
  }
}
@media (max-width: 950px) {
  .intro__about-decor {
    height: 440px;
    top: -13%;
  }
}
@media (max-width: 920px) {
  .helping {
    padding-top: 40px;
    padding-bottom: 56px;
  }
  .helping__attention {
    display: none;
  }
  .helping-info__title::after {
    height: 139px;
  }
  .helping-info__row {
    flex-wrap: wrap;
  }
  .helping-info-contacts {
    margin-bottom: 64px;
  }
  .helping-info-contacts__text {
    max-width: 100%;
  }
  .footer__inner::after {
    right: 80%;
  }
  .footer__title-box::before {
    right: 41%;
  }
}
@media (max-width: 860px) {
  .intro__box {
    margin-top: 10px;
  }
  .intro__about {
    max-width: 400px;
    width: 100%;
    margin-left: 30px;
  }
  .intro__about-decor {
    height: 400px;
    right: -3%;
    top: -7%;
    width: 650px;
  }
  .intro__text {
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .footer__title-box {
    display: block;
  }
  .footer__title-box::before {
    top: -190%;
    width: 90px;
    right: 61%;
  }
  .footer__logo {
    margin-left: 0;
  }
  .footer__logo img {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding: 20px 0 4px;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__lang {
    font-size: 24px;
  }
  .intro__inner {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-bottom: 24px;
  }
  .intro__title {
    font-size: 32px;
    max-width: 500px;
    position: initial;
  }
  .intro__car-box {
    margin-top: -80px;
  }
  .intro .intro__car-hover {
    position: relative;
  }
  .intro .intro__car-hover p {
    max-width: 220px;
    bottom: -100px;
    font-size: 24px;
  }
  .intro__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .intro__bike-box {
    order: 1;
    width: 100%;
  }
  .intro .intro__bike-hover p {
    max-width: 300px;
    left: 0;
    bottom: -80px;
    font-size: 24px;
  }
  .intro__about {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 32px;
  }
  .intro__about-decor {
    display: none;
  }
  .intro__text {
    position: relative;
  }
  .intro__text::after {
    content: url(../img/intro/text-decor-mobile.png);
    position: absolute;
    top: -180px;
    right: 0;
    width: 320px;
    z-index: -1;
  }
  .intro__info-img {
    display: none;
  }
  .intro .intro__info-box--active .intro__info-hover {
    display: none;
  }
  .intro__info-box .intro__info-img-mobile {
    display: block;
    -webkit-animation: image-block 1.5s ease;
            animation: image-block 1.5s ease;
    max-height: 470px;
  }
  .intro__info-box--active .intro__info-img-mobile {
    display: none;
  }
  .intro__info-box--active .intro__info-hover-mobile {
    z-index: 3;
    display: block;
    -webkit-animation: image-block 1.5s ease;
            animation: image-block 1.5s ease;
    max-height: 470px;
    position: relative;
  }
  .intro__info-box--active .intro__info-hover-mobile p {
    position: absolute;
    max-width: 460px;
    left: 24px;
    top: -70px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }
  .helping__subtitle {
    margin-top: 0;
  }
  .helping-info__title::after {
    top: -12%;
  }
  .footer__inner {
    padding: 41px 0 24px;
  }
  .footer__inner::after {
    right: 103%;
    width: 400px;
    top: 0;
  }
  .footer__textarea {
    margin-bottom: 24px;
  }
  .footer__title-box::before {
    content: url(../img/uafamily-bg-mobile.png);
    width: 295px;
    height: 200px;
    right: 0;
  }
  .footer__aditional {
    padding: 24px 0;
  }
  .footer__aditional-link {
    display: block;
    max-width: 100%;
  }
  .footer__aditional-link + .footer__aditional-link {
    margin-top: 8px;
  }
}
@media (max-width: 600px) {
  .footer__inner::after {
    content: url(../img/footer-blur-mobile.png);
    width: 300px;
    height: 100px;
    right: 0;
    left: -5%;
  }
  .footer__reports p {
    max-width: 223px;
  }
  .footer__input {
    width: 100%;
  }
  .footer__btn {
    margin-right: 16px;
  }
  .footer__box-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__socials {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .footer__social-item {
    padding: 8px 17px;
  }
  .footer__social-item a svg {
    width: 24px;
    height: 24px;
  }
  .footer__box {
    margin-bottom: 128px;
  }
  .footer__social-instagram {
    max-width: 192px;
    width: 100%;
  }
  .footer__social-telegram {
    max-width: 179px;
    width: 100%;
  }
  .footer__social-opensea {
    max-width: 174px;
    width: 100%;
  }
  .footer__social-mail {
    max-width: 309px;
    width: 100%;
  }
  .footer__logo {
    margin-top: 18px;
  }
  .footer__logo img {
    width: 127px;
    height: 22px;
  }
  .form-group {
    max-width: 435px;
    width: 100%;
  }
}
@media (max-width: 560px) {
  .helping-info__title {
    padding-right: 120px;
  }
  .helping-info__title::after {
    width: 100px;
    right: 0;
    background-position: right;
  }
  .helping__subtitle {
    margin-bottom: 24px;
  }
  .helping__text {
    margin-bottom: 32px;
  }
  .helping-info__link {
    padding: 8px 22px;
    margin-bottom: 16px;
  }
  .helping-info__link svg {
    max-width: 24px;
    max-height: 24px;
  }
  .helping__link {
    padding: 14px 22px;
  }
  .helping__link img {
    max-width: 32px;
  }
  .helping__link span {
    display: block;
  }
}
@media (max-width: 480px) {
  .intro__text {
    position: relative;
  }
  .intro__text::after {
    top: -120px;
  }
  .intro__info-box .intro__info-img-mobile {
    max-height: 340px;
  }
  .intro__info-box .intro__info-hover-mobile {
    max-height: 340px;
  }
}
@media (max-width: 425px) {
  .helping {
    background-position: left -200px top -55%;
    background-size: auto;
  }
  .helping-info__title {
    margin-bottom: 32px;
    padding-right: 100px;
  }
}
@media (max-width: 375px) {
  .header__logo::before {
    left: -200px;
  }
  .header__logo img {
    width: 160px;
  }
  .intro__title {
    font-size: 24px;
  }
  .intro .intro__text::after {
    right: 10px;
  }
  .helping {
    background-position: left -200px top -50%;
    background-size: auto;
  }
  .helping-info__text + .helping-info__text {
    margin-top: 10px;
  }
}
@media (max-width: 370px) {
  .container {
    padding: 0 15px;
  }
  .helping-info__title {
    padding-right: 100px;
    font-size: 30px;
  }
  .helping-info__title::after {
    top: 20%;
  }
  .footer__title-box::before {
    content: url(../img/uafamily-bg-mobile.png);
    width: 303px;
  }
  .footer__inner::after {
    left: -18%;
  }
}
@media (max-width: 340px) {
  .helping-info__title {
    padding-right: 64px;
  }
  .helping-info__link {
    padding: 8px 12px;
  }
}